.sidebar-logo {
    position: relative;
    z-index: 1;
    padding: 1em 1em 0.5em;
    text-align: center;
    background: var(--sidebar-bg);
}

.sidebar-logo img {
    width: 72px;
    height: 72px;
    border-radius: 8px;
}

.sidebar-logo a {
    display: inline-block;
}

.sidebar .sidebar-scrollbox {
    top: 100px;
}
